.list-modi li a{
   color:white; 
}

.hello{
    background-color: #37517E !important;
    height: 500px;
}

.a-modi a{
    color: black !important;
}
.nav-modi{
    background-color:#37517E !important;

}